<!--Embed the footer.html template at this location-->
{{ template "header.html" .}}

      <a href="{{ .link }}"><button>Login with Google!</button></a>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
